.sobre {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;
  }
  
  
.introducao .sobre-info {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    width: 23%; 
    margin: 10px;
    text-align: center;
    min-height: 200px;
  }
  

@media (max-width: 1024px) {
  .introducao .sobre-info {
    width: 45%; 
  }
}

@media (max-width: 768px) {
  .introducao .sobre-info {
    width: 45%; 
  }
}

@media (max-width: 480px) {
  .introducao .sobre-info {
    width: 100%; 
  }
}
